.navbar {
    width: 100%;
    height: 120px;
    background-color: #A5C8CA;
    display: flex;
    flex-direction: column;
}

.navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 500px;
    padding-top: 5px;
    margin-bottom: 0px;
    border-bottom: 7px solid rgb(255, 255, 255);
}

.navbar .leftSide img {
    width: 100px;
    padding-right: 700px;
}

.navbar .searchContainer {
    position: relative;
    margin: 20px; 
}

.navbar .searchContainer input {
    width: 200px; 
    height: 35px; 
    padding: 5px 20px 8px 15px; 
    border: none;
    border-radius: 5px;
}

.navbar .searchContainer .psq {
    position: absolute;
    top: 52%;
    right: 35px; 
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    color: #586875;
    font-size: 20px;
}
.navbar a {
    color: #586875;
    text-decoration: none;
    margin: 20px;
}

.navbar a:hover {
    cursor: pointer;
    color: #2f373d;
}

.navbar #open {
    padding-left: 0px;
}

.navbar #open img {
    display: none;
}

.navbar #close img {
    display: inherit;
}

.navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
}

.navbar #close .hiddenLinks {
    display: none;
}

.navbar #open a {
    width: 70px;
    margin: 5px;
}

@media only screen and (max-width: 1220px) {
    .navbar .leftSide {
        padding-left: 50px;
    }
    .navbar .leftSide img{
        padding-right: 750px;
    }
}
@media only screen and (max-width: 1156px) {
    .navbar .leftSide {
        padding-left: 50px;
    }
    .navbar .leftSide img{
        padding-right: 500px;
    }
}
@media only screen and (max-width: 900px) {
    .navbar .leftSide {
        padding-left: 50px;
    }
    .navbar .leftSide img{
        padding-right: 400px;
    }
}
@media only screen and (max-width: 820px) {
    .navbar .leftSide {
        padding-left: 30px;
    }
    .navbar .leftSide img{
        padding-right: 0px;
    }
}
@media only screen and (max-width: 600px) {
    .navbar .leftSide {
        padding-left: 15px;
    }
    .navbar .leftSide img{
        padding-right: 0px;
    }
}
